.vis-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  /* backdrop-filter: blur(2px); */
}

.background {
  fill: #eee;
  pointer-events: all;
}

.map-layer {
  fill: #fff;
  stroke: #aaa;
}

.window-layer{
  fill : white;
  stroke: black;
}

.tooltip {
  background: rgba(255, 255, 255, 0.92);
  position: absolute;
  height: auto;
  z-index:9999;
  padding:5px;
  border: 1px solid #ddd;
  padding: 5px 15px 5px 15px;
  font-family: arial, sans-serif;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.vis-overlay > svg {
  border-radius: 10px;
}

.map-viz {
  transform: translateX(calc(50vw - 250px));
}

.map-viz > svg > *, .map-viz > *, .time-viz > svg > *, .time-viz > * {
  pointer-events: none;
}

.map-viz.active > svg > *, .map-viz.active > *, .time-viz.active > svg > *, .time-viz.active > * {
  pointer-events: all;
}

.time-viz, .map-viz {
  opacity: 0;
  pointer-events: none;
}

.time-viz.active, .map-viz.active {
  opacity: 1;
  pointer-events: all;
}

.time-viz {
  position: absolute;
  transform: translateX(calc(50vw - 500px));
}
